.rating{
	margin-left:30px; 
}

.review{
	font-size:20px;
	color:	#FFD700  
}

.profileImg{
  height:130px;
  width:130px;  
}

.updateBtn{
	margin-top:50px; 
}

.uploadBtn{
	margin-right:20px; 
}

.profImg{
   height:120px; 
   width:120px; 
}