.custom
{
	margin-top: 27px;
}
.myRadio{
    padding-right:20px;
}
.panel{
	box-shadow: none;
}
.added-block{
	padding:5px 0px;
}
.plus{
	margin-top:5px;
}

.s-n-btn{
	margin-right: 1.3em;
}
.img-thumbnail {
    border:0 !important;
    padding:0;
    border-radius:0;
    }
.img-width{
	max-width:30%;
}
input[type="file"] {
    display: block;
    color: transparent;
}
.requireField {
    color: #ca0505;
    font-size: 1.2em;
    padding: 0 0 0 10px;
    /* margin-top: 20px; */
}