<div class="content-heading">Tags
 <div class="pull-right">
            <label for="image-input" class="file-upload">
              <a [routerLink]="'/coupons/addCoupons'">  <button class="btn btn-success"><em class="fa fa-plus"></em>&nbsp;&nbsp;Add Coupon</button> </a>	
            </label>
 </div>
 <small><a [routerLink]=" ['/home'] ">Dashboard</a> ->
            Coupons
 </small>
</div>
<!-- Zero Configuration-->
<div class="col-sm-2"></div>
<div class="col-sm-8">
<div class="panel panel-default">
    <div class="panel-heading">Manage Coupons</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table datatable="" class="table table-striped">
                <thead>
                    <tr>
                        <th class="wd-md text-center custom">Name</th>
                        <th class="wd-md text-center custom">Offer %</th>
                       <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let coupon of coupons">
                        <td><a href="">{{coupon.name}}</a>
                        </td>
                        <td><a href="">{{coupon.value}}</a>
                        </td>                        
                        <td class="text-center">
                         <button class="btn btn-sm btn-default" type="button" (click)="couponDelete(coupon.key)">
                         <em class="fa fa-trash-o"></em>
                         </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>