
<div  class="chat-page">
<div class="chat-container row">


<div class="user-list col-md-4">
  
    <div class="search-input">
        <form (keyup)="getChatUser(siteName.value)">
            <input  id="search" type="text" placeholder="search" name="siteVal"  [(ngModel)]="siteVal" #siteName>
            <i class="fa fa-search"></i>
        </form>
        
    </div>
<div class="users">
  <div class="user-list-item"  *ngFor="let user of userlist;let i = index ">
    <div class="row" (click)="goToUserChat(user.key)">
        <div class="col-xs-2" *ngIf = "(user.imageUrl == '') || (user.imageUrl == null) ">
            <img src="assets/img/user/User.png" class="user-img z-depth-1">
        </div>  <!-- col-3 -->
        <div class="col-xs-2" *ngIf = "user.imageUrl != null && user.imageUrl !=''">
            <img src="{{user?.imageUrl}}" class="user-img z-depth-1">
        </div>  <!-- col-3 -->
        <div class="col-xs-9">
            <div class="header">
                <span class="user-name">{{user.name}}</span>
               <!--  <span class="time">9:34PM</span>  -->
            </div>
            <p class="msg">
                {{lastMessageList[i]?.message}}
            </p>
        </div>
    </div>
  </div>
</div>
</div><!-- col-6 -->

<!-- col-8 chat box -->
<app-chat-box></app-chat-box>
<!-- col-8 chat box -->


</div><!--char container-row -->
</div><!-- chat-page -->
