.thnosearch
{
	width: 20% !important;
	padding-bottom: 45px !important;
}
.thsearch
{
	width: 20%;
}
.label-process {
    background-color: rgb(0, 47, 255);
}
.file-upload{
	display:inline !important;
}